NEXT_PUBLIC_SUPABASE_URL=https://wtpbewcneuxicnxyoppj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0cGJld2NuZXV4aWNueHlvcHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NTAwNDcsImV4cCI6MjA5MTMyNjA0N30.wtqNVcok7HOBmOAYK5PcuYk03QDsmUnL0pQsjjEMjW4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0cGJld2NuZXV4aWNueHlvcHBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc1MDA0NywiZXhwIjoyMDkxMzI2MDQ3fQ.Cs-kIxJwvLvs1uhPpa2zqI-vbfmk0dBfuCmpTqydrgY
